[Unit]
Description = Cardano Node
Wants = network-online.target
After = network-online.target

[Service]
Type = simple
EnvironmentFile = /opt/cardano-node/cardano-node.env
ExecStart = /opt/cardano-node/run-node.sh
StandardOutput = journal
StandardError = journal
SyslogIdentifier = cardano-node

LimitNOFILE = 32768

Restart = always
RestartSec = 5s
TimeoutStopSec=2

WorkingDirectory = /opt/cardano-node
User = ubuntu
Group = ubuntu

[Install]
WantedBy = multi-user.target
