cat /etc/systemd/system/cncli-sync.service
[Unit]
Description=CNCLI Sync
After=multi-user.target

[Service]
User=root
Type=simple
Restart=always
RestartSec=5
LimitNOFILE=131072
ExecStart=/usr/local/bin/cncli sync --host 127.0.0.1 --port 3001 --db /data/instance/db/cncli.db
KillSignal=SIGINT
SuccessExitStatus=143
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cncli-sync

[Install]
WantedBy=multi-user.target
